.navbar {
    background-color: #343a40; /* Dark background color */
  }
  
.navbar-brand {
    padding-left: 20px;
    font-size: 1.5rem; /* Adjust the font size for the brand name */
  }
  
  
.nav-link {
    color: #e21414; /* Text color for navigation links */
    font-size: 1rem; /* Adjust the font size for the links */
    padding: 0.5rem 1rem; /* Add some padding to the links */
    text-decoration: none; /* Remove underline from links */
  }
  
