<header class="py-3 mb-3 border-bottom">
  <div
    class="container-fluid d-grid gap-3 align-items-center"
    style="grid-template-columns: 1fr 2fr"
  >
    <!-- Collapsible List -->
    <nav class="navbar navbar-expand-lg">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="logo" href="user">
            <img
              src="assets/logo.png"
              alt="Logo"
              width="155"
              height="auto"
              class="logo-img"
            />
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/user/fruits">Fruits</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/user/vegetables"
                >vegetables</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/user/home-kitchen"
                >Home & Kitchen</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Popular</a>
        </li>
      </ul>
    </nav>

    <!-- Search and User Profile -->
    <div class="d-flex align-items-center">
      <form class="w-100 me-3" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="flex-shrink-0 dropdown">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://avatars.githubusercontent.com/u/38430781?v=4"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
