<!DOCTYPE html>
<html>
  <body>
    <div class="container my-5">
      <h1>Product List</h1>
      <table class="table" *ngIf="products && products.length > 0">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Last Updated</th>
            <th scope="col">Updated By</th>
            <th scope="col">Created By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let eachProduct of products">
            <td>{{ eachProduct.id }}</td>
            <td>{{ eachProduct.name }}</td>
            <td>{{ eachProduct.lastUpdated }}</td>
            <td>{{ eachProduct.updatedBy }}</td>
            <td>{{ eachProduct.createdBy }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!products || products.length <= 0">no product available</p>
    </div>
  </body>
</html>
