<app-header class="app-header"></app-header>
<div class="body" *ngIf="searchingEntry.trim() === ''; else appRoot">
  <app-root></app-root>
</div>

<app-side-nav [sidebarVisible]="sidebarVisible"></app-side-nav>

<div class="cartButton">
  <p-button
    (click)="toggleSidebar()"
    icon="pi pi-shopping-cart"
    styleClass="p-button-rounded p-button-text p-button-raised"
  ></p-button>
  <span class="badge">{{ numberOfOrders }}</span>
</div>

<!-- templates -->
<ng-template class="body" #appRoot>
  <app-search [searchingEntry]="searchingEntry"></app-search>
</ng-template>
